body {
  text-align: center;
  background-color: black;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#inputName {
  height: 50px;
  text-align: center;
}

ul,
li {
  list-style-type: none;
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20%;
}

.clickable {
  cursor: pointer;
}

.deleteButton {
  color: white;
  font-weight: bold;
  background-color: darkred;
  margin-right: 10px;
  border-radius: 50%;
}

.footer {
  color: gray;
}
